/*=============== styling ===========*/
.grid-container{
    background-color: black;
    color: whitesmoke;
    margin: 0 25%;
}
.sub-container{
    margin-bottom: 20px;
}
.boxes{
    width: 100%;
    height: 100px;
    border-radius: 10%;
}
.boxes:hover{
    opacity: 70%;
}
.b1{
    background-color: rgb(118, 118, 245);
}
.b2{
    background-color: rgb(243, 165, 19);
}
.b3{
    background-color: rgb(255, 50, 85);
}
.b-different{
    background-color: rgb(115, 191, 1);
}
.list{
    float: left;
    color: black;
    text-decoration: none;
    background-color: rgb(207, 201, 201);

}
.list:hover{
    background-color: aqua;
}
/* ============== using grid ======== */
.grid-container{
    display: grid;
    grid-template-columns: 10% auto 10%;
}

.sub-container{
    
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: auto;
}
.body-part{
    margin-top: 15px;
    grid-row:6/7;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 5px;
    row-gap: 5px;
}